In [1]:
import pandas as pd

In [3]:
ytdata= pd.read_csv('./USvideos.csv')

In [7]:
ytdata.loc[(ytdata['category_id']==24)& (ytdata['likes']>12000)][["category_id","likes"]].head()

    category_id   likes
1            24   97185
4            24  132235
6            24   15993
49           24   45406
50           24   99086

In [8]:
def missing_values(x):
    return sum(x.isnull())

In [9]:
print(" Missing values in each column :")
ytdata.apply(missing_values,axis=0)

 Missing values in each column :

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               570
dtype: int64

In [10]:
print(" Missing values in each row :")
ytdata.apply(missing_values,axis=1).head()

 Missing values in each row :

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [11]:
ytdata.count(axis=0)

video_id                  40949
trending_date             40949
title                     40949
channel_title             40949
category_id               40949
publish_time              40949
tags                      40949
views                     40949
likes                     40949
dislikes                  40949
comment_count             40949
thumbnail_link            40949
comments_disabled         40949
ratings_disabled          40949
video_error_or_removed    40949
description               40379
dtype: int64

In [12]:
ytdata.description.isnull().value_counts()

False    40379
True       570
Name: description, dtype: int64

In [15]:
df = pd.DataFrame({'Person_Name': {0: 'Naina', 1: 'Alex', 2: 'Avarto'}, 'CourseName': {0: 'Masters', 1: 'Graduate', 2:'Graduate'}, 'Age': {0: 27, 1: 20, 2: 22}})

In [16]:
df

  Person_Name CourseName  Age
0       Naina    Masters   27
1        Alex   Graduate   20
2      Avarto   Graduate   22